{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h4> Song Records </h4>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Song Title</th>
      <th scope="col">Artist</th>
      <th scope="col">Song Type</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>

{% if records %}
  {% for record in records %}
    <tr>
    <td><a class="link-success" href="{% url 'record' record.id %}">{{ record.id }}</a></td> 
    <td>{{ record.song_title }}</td>
    <td>{{ record.artist_name }}</td>
    <td>{{ record.song_type }}</td>
    <td>{{ record.created_at }}</td>
    </tr>
  
  {% endfor %}
{% endif %}

</tbody>
</table>




{% else %}
<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
  {% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  
  <button type="submit" class="btn btn-success">Login</button>
</form>

{%  endif %}


{% endblock %}