<!-- html contains the add record, logout, register, login buttons -->

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2ba771;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
    LyricsPeriod.
   </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_record' %}">Add Record</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Login</a>
        </li>
        {% endif %}

      </ul>
      
    </div>

    <!-- Added search bar  -->
      <form method="get" action="{% url 'search_records' %}"> 
          <input type="text" name="q" placeholder="Search song name" required>
          <button type="submit" style="background-color: #2ba771; color: white; border: 1.5px solid white; padding: 3.5px 9px; cursor: pointer; font-size: 14px;">
          Search</button>
      </form>

  </div>
</nav>